<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
        <add key="DataSource" value="PC962"/>
        <add key="DataSourceWin" value="(LocalDb)\MSSQLLocalDB"/>
        <add key="Database" value="Korespondence"/>
        <add key="Name" value="sa"/>
        <add key="Password" value="student"/>
    </appSettings>
</configuration>