USE [master]
GO
/****** Object:  Database [Korespondence]    Script Date: 13.05.2023 21:40:33 ******/
CREATE DATABASE [Korespondence]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Korespondence', FILENAME = N'C:\Users\richa\Korespondence.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Korespondence_log', FILENAME = N'C:\Users\richa\Korespondence_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Korespondence].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Korespondence]
GO
USE [Korespondence]
GO
/****** Object:  Table [dbo].[AccMessage]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccMessage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipient_id] [int] NOT NULL,
	[message_id] [int] NOT NULL,
	[show_recipient] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](200) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[last_login] [datetime] NULL,
 CONSTRAINT [PK__Accounts__3213E83F34B38C93] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Accounts__536C85E4C1CFAD22] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](256) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[sendDate] [datetime] NOT NULL,
	[sender_id] [int] NOT NULL,
	[sender_show] [bit] NOT NULL,
 CONSTRAINT [PK__Messages__3213E83FD634C554] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccMessage]  WITH CHECK ADD  CONSTRAINT [fk_accmes_message] FOREIGN KEY([message_id])
REFERENCES [dbo].[Messages] ([id])
GO
ALTER TABLE [dbo].[AccMessage] CHECK CONSTRAINT [fk_accmes_message]
GO
ALTER TABLE [dbo].[AccMessage]  WITH CHECK ADD  CONSTRAINT [fk_accmes_recipient] FOREIGN KEY([recipient_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[AccMessage] CHECK CONSTRAINT [fk_accmes_recipient]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [fk_mes_send] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [fk_mes_send]
GO
/****** Object:  StoredProcedure [dbo].[AssignRecipient]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AssignRecipient]
@recipient_id int,
@message_id int,
@recipient_show bit
AS
BEGIN 
INSERT INTO AccMessage VALUES(@recipient_id, @message_id, @recipient_show)
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessageById]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessageById]
@id int
AS
BEGIN
SELECT subject, message, sendDate, sender_id FROM Messages M INNER JOIN AccMessage ON M.id = AccMessage.message_id WHERE M.id = @id AND show_recipient = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesByRecipientID]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessagesByRecipientID]
@id int
AS
BEGIN
SELECT Messages.id as MessageID, Odesilatel.Username AS Sender, Messages.sendDate AS [Send Date], Messages.subject as Subject
FROM  Accounts Odesilatel INNER JOIN Messages ON Odesilatel.id = Messages.sender_id INNER JOIN AccMessage ON AccMessage.message_id = Messages.id WHERE AccMessage.recipient_id = @id AND AccMessage.show_recipient= 'True';
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesBySenderId]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessagesBySenderId]
@id int
AS
BEGIN
SELECT Messages.id as MessageID, Prijemce.Username AS Recipient, Messages.sendDate AS [Send Date], Messages.subject as Subject
FROM Accounts Prijemce INNER JOIN AccMessage on AccMessage.recipient_id = Prijemce.id  INNER JOIN Messages ON AccMessage.message_id = Messages.id WHERE AccMessage.sender_id = @id AND AccMessage.show_sender = 'True';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNameById]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNameById]
@id int
AS
BEGIN
SELECT Accounts.username FROM Accounts WHERE Accounts.id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecipientsByMessageId]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecipientsByMessageId]
@id int
AS
BEGIN
SELECT recipient_id from AccMessage WHERE message_id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SendEmail]    Script Date: 13.05.2023 21:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendEmail]
@subject nvarchar(256),
@message nvarchar(MAX),
@sender_id int,
@sender_show bit
AS
DECLARE @message_id int
BEGIN
BEGIN TRANSACTION;
INSERT INTO Messages OUTPUT INSERTED.id VALUES(@subject, @message, GETDATE(), @sender_id, @sender_show);
COMMIT TRANSACTION;
END;
GO
USE [master]
GO
